In [1]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.read_csv('311_Service_Requests_2020.csv')

/Users/shulufu/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
df_10019 = df[df['Incident Zip'] == 10019.0]

                              Complaint Type  Incident Zip
1203                      Noise - Commercial       10019.0
1220                 Noise - Street/Sidewalk       10019.0
1248                      Noise - Commercial       10019.0
1281                      Noise - Commercial       10019.0
1287                      Noise - Commercial       10019.0
...                                      ...           ...
2585520  NonCompliance with Phased Reopening       10019.0
2585734                 Broken Parking Meter       10019.0
2585741                 Broken Parking Meter       10019.0
2586622                   Noise - Commercial       10019.0
2587215                  Noise - Residential       10019.0

[15195 rows x 2 columns]

In [ ]:
df_10019.sort_values(by = "Complaint Type")

        Complaint Type  Incident Zip
1368051      APPLIANCE       10019.0
2092826      APPLIANCE       10019.0
1957508      APPLIANCE       10019.0
1716425      APPLIANCE       10019.0
118793       APPLIANCE       10019.0
...                ...           ...
1628621   Water System       10019.0
641169    Water System       10019.0
1097166   Water System       10019.0
65699     Water System       10019.0
1289617   Water System       10019.0

[15195 rows x 2 columns]

In [ ]:
top10 = df_10019['Complaint Type'].value_counts().head(10)

Noise - Street/Sidewalk                1299
Noise - Residential                    1144
Homeless Person Assistance             1116
Noise                                  1066
Illegal Parking                         998
HEAT/HOT WATER                          866
Noise - Commercial                      811
Non-Emergency Police Matter             776
Homeless Street Condition               658
NonCompliance with Phased Reopening     620
Name: Complaint Type, dtype: int64