In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('311_Service_Requests_2020.csv')

/Users/shulufu/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [42]:
df.head(3)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,45285347,01/01/2020 12:00:00 AM,01/10/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11229.0,3442 NOSTRAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.600129,-73.941843,"(40.6001292057807, -73.94184291675883)"
1,45285651,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,10458.0,2701 DECATUR AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.864866,-73.888783,"(40.86486556770799, -73.88878325729915)"
2,45285821,01/01/2020 12:00:00 AM,01/02/2020 09:50:09 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Other (Explain Below),11203.0,5707 CHURCH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.652536,-73.923540,"(40.65253575905768, -73.92353994017134)"

In [44]:
df_10019 = df_[df_['Incident Zip'] == 10019.0]
df_10019

                              Complaint Type  Incident Zip
1203                      Noise - Commercial       10019.0
1220                 Noise - Street/Sidewalk       10019.0
1248                      Noise - Commercial       10019.0
1281                      Noise - Commercial       10019.0
1287                      Noise - Commercial       10019.0
...                                      ...           ...
2585520  NonCompliance with Phased Reopening       10019.0
2585734                 Broken Parking Meter       10019.0
2585741                 Broken Parking Meter       10019.0
2586622                   Noise - Commercial       10019.0
2587215                  Noise - Residential       10019.0

[15195 rows x 2 columns]

In [45]:
df_10019.sort_values(by = "Complaint Type")

        Complaint Type  Incident Zip
1368051      APPLIANCE       10019.0
2092826      APPLIANCE       10019.0
1957508      APPLIANCE       10019.0
1716425      APPLIANCE       10019.0
118793       APPLIANCE       10019.0
...                ...           ...
1628621   Water System       10019.0
641169    Water System       10019.0
1097166   Water System       10019.0
65699     Water System       10019.0
1289617   Water System       10019.0

[15195 rows x 2 columns]

In [58]:
df_10019['Complaint Type'].value_counts().head(10)

Noise - Street/Sidewalk                1299
Noise - Residential                    1144
Homeless Person Assistance             1116
Noise                                  1066
Illegal Parking                         998
HEAT/HOT WATER                          866
Noise - Commercial                      811
Non-Emergency Police Matter             776
Homeless Street Condition               658
NonCompliance with Phased Reopening     620
Name: Complaint Type, dtype: int64